################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/daily-coding-problem/obj
/.vs
/daily-coding-problem/bin/Debug/netcoreapp3.1
/daily-coding-problem/.vs/daily-coding-problem/v16/TestStore/0
/daily-coding-problem/.vs/daily-coding-problem/DesignTimeBuild
/daily-coding-problem/daily-coding-problem.sln.DotSettings.user
